// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

// 定义颜色变量
@primary-color: #f0f0f0; // 背景主色
@secondary-color: #ffffff; // 内容背景色
@text-color: #333333; // 主文本色
@accent-color: #6c5ce7; // 强调色，用于链接和按钮
@footer-color: #282c35; // 底部区域背景色
@head-color: #fff;

// 字体
@main-font: 'Noto Sans SC', sans-serif;
@display-font: 'Times New Roman', serif;

// 基本的全局样式
html,
body {
  margin: 0;
  padding: 0;
  font-family: @main-font;
  color: @text-color;
  background-color: @primary-color;
}
*{
  padding: 0;
  margin: 0;
}
// 容器样式
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

// 导航栏样式
.navbar {
  background-color: @head-color;

  .container {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;

    li {
      margin: 0 15px;

      a {
        text-decoration: none;
        color: @text-color;
        font-weight: 700;
        transition: color 0.3s;

        &:hover {
          color: @accent-color;
        }
      }
    }
  }
}

// 横幅样式
.banner {
  height: 250px;

  img {
    width: 100%;
    height: 250px;
    display: block;
    object-fit: cover;
  }
}

.w300 {
  width: 400px;
}

.w600 {
  width: 600px;
}

// 主内容区域样式
.content {
  padding: 40px 0;

  .info_cont {
    .container {
      display: flex;
      // align-items: center;
    }

    .fltop {
      display: flex;
      justify-content: space-evenly;
    }

    .lef {
      // flex: 1;
      padding-right: 20px;
      text-align: center;
      // margin-top: 200px;

      h1 {
        margin: 0 0 10px;
        color: @text-color;
        font-family: @display-font;
      }

      .pname {
        // margin: 0;
        margin-bottom: 10px;
        color: @text-color;
        text-align: justify;
        font-family: @display-font;
      }
    }


    .right {
      // flex: 1;

      img {
        max-width: 100%;
        display: block;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      }

      .aboutme {
        max-width: 80%;
      }
    }

  }
}

.mr-40 {
  margin-right: 40px;
}

// 主内容区域样式
.content2 {
  padding: 40px 0;

  .video_cont {
    .container {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
    }

    .lef,
    .right {
      flex: 1;
    }

    .lef {
      // margin-right: 40px;
    }

    .right {

      // margin-left: 40px;
      h1 {

        color: @text-color;
        font-family: @display-font;
      }

      .videoCont {
        // text-indent: 2em;
        color: @text-color;
        text-align: justify;
      }
    }

    .my_video {
      width: 100%;
      max-height: 400px;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
  }
}

.content2_bj {
  @primary-color: #eee;
  @secondary-color: #000;
  @text-color: #000;
  @background-color: #f4f4f4;
  @transition-speed: 0.3s;
  background-color: @background-color;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
  text-align: center;

  .info_bj {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px; // 为项目之间添加间隙

    .item {
      flex: 1 0 30%; // 每个项目占据30%的宽度
      background: @primary-color;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      transition: transform @transition-speed, box-shadow @transition-speed;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }

      img {
        width: 100%;
        height: auto;
        display: block;

        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      .txt {
        padding: 20px;
        color: @text-color;

        .p3 {
          color: @secondary-color;
          font-family: @display-font;
          font-size: 1em;
          line-height: 1.6;
        }
      }
    }

    .img1 {
      img {
        height: 300px;
        width: 450px;
        object-fit: cover; // 确保图片内容适应固定尺寸
      }

      .txt {
        padding: 20px;
        height: 120px;
        box-sizing: border-box;
        color: @text-color;

        .p3 {
          color: @secondary-color;
          font-size: 1em;
          line-height: 1.6;
        }
      }
    }

    .img2 {
      img {
        height: 920px;
        width: 690px;
        object-fit: cover; // 确保图片内容适应固定尺寸
      }

      .txt {
        padding: 20px;
        height: 120px;
        box-sizing: border-box;
        color: @text-color;

        .p3 {
          color: @secondary-color;
          font-size: 1em;
          line-height: 1.6;
        }
      }
    }

    .img3 {
      img {
        height: 700px;
        width: 450px;
        object-fit: cover; // 确保图片内容适应固定尺寸
      }

      .txt {
        padding: 20px;
        height: 120px;
        box-sizing: border-box;


        .p3 {
          color: @secondary-color;
          font-size: 1em;
          line-height: 1.6;
        }
      }
    }
  }
}
.dfsafd{
  margin-left: 20px;
  background: #eee;
  border-radius: 10px;
  color: #000; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  
  .fu{
display: flex;
justify-content: space-between;
  }
  .txt{
    padding: 20px;
    // padding-left: 10px;
    // padding-right: 10px;
    font-family: @display-font;
  }
}
.bbb {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  img {
    background: #333;
    height: 350px;
    border-radius: 10px;
    object-fit: cover; // 确保图片内容适应固定尺寸
  }

  .img4 {
    background: #eee;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

img{
  border-radius: 0;
}
    .txt {

      padding: 5px 0 5px 5px;
      height: auto;
      box-sizing: border-box;


      .p3 {
        color: #000;
        font-size: 1em;
        line-height: 1.6;
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: @display-font;
      }
    }
  }

}
.biaot{
  margin-bottom: 15px;
}

// 主内容区域样式
.content_pg3 {
  padding: 40px 0;

  .info_cont {
    .jieshao{
      .p1{
        font-weight: 900;
      }
      .p3{
        font-weight: 500;
        line-height: 24px;
      }
    }
    .biaoti{
      h2{
        display: flex;
        align-items: center;
        
        p{
          font-size: 18px;
          font-weight: 500;
          margin-left: 20px;
        }
      }
    }
    .myshanzi {
 
      padding: 20px;
      background-color: #f8f8f8;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
      .info {
        // width: 99%; // 左右布局，每个元素占宽度的48%
        margin-bottom: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
        display: flex; 
        justify-content: space-between;
        align-items: flex-start;
        &:hover {
          transform: translateY(-5px);
        }
    
        .lef {
          width: 300px;
          overflow: hidden;
          border-radius: 8px 0 0 8px;
    
          img {
            width: 300px;
            height: auto;
            display: block;
            transition: opacity 0.3s ease-in-out;
            opacity: 0.9;
    
            &:hover {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
    
        .shanziinfo {
          padding: 20px;
          width: 1000px;
          margin-left: 30px;
    
          p {
            margin: 0;
            color: #666;
            line-height: 1.6;
    
            &.p4 {
              font-size: 1.1em;
              color: #333;
              margin-bottom: 10px;
            }
    
            &.p5 {
              font-size: 1em;
              color: #333;
            }
          }
        }
      }
      }
  
      .zhizuoshanzi {
        column-count: 3; // 设置为两列
        column-gap: 20px; // 设置列与列之间的间隙
        width: 100%; // 容器宽度
        padding: 20px;
        background-color: #f8f8f8;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      
        .info1 {
          background-color: #fff;
          border-radius: 8px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
          margin-bottom: 20px; // 设置元素之间的垂直间隙
          page-break-inside: avoid; // 防止打印时在列之间断开
          break-inside: avoid-column; // 防止在列之间断开
      
          .top {
            width: 100%;
            overflow: hidden;
            border-radius: 8px 8px 0 0;
      
            img {
              width: 100%;
              height: auto;
              display: block;
              transition: opacity 0.3s ease-in-out;
              opacity: 0.9;
      
              &:hover {
                opacity: 1;
              }
            }
          }
      
          .zhizuoshanzixt {
            padding: 20px;
            background-color: #fafafa;
            border-top: 1px solid #eaeaea;
      
            .tet {
              margin: 0;
              color: #333;
              line-height: 1.6;
              font-size: 1em;
      
              .chinese {
                font-style: italic;
                color: #007BFF; // 使用变量
              }
            }
          }
        }
      
        @media (max-width: 768px) {
          column-count: 1; // 在小屏幕上改为一列
        }
      }
      .daily {
       
        padding: 20px;
        background-color: #f8f8f8;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      
        .pics {
          grid-column: 1 / 2; // 图片列
          display: grid;
          grid-template-columns: repeat(4, 1fr); // 四张图片
          grid-gap: 10px; // 图片之间的间隙
          overflow-y: scroll;
          img {
            // width: 100%;
            height: 350px;
            display: block;
            border-radius: 8px;
            transition: opacity 0.3s ease-in-out;
            opacity: 0.9;
      
            &:hover {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
      
        .zhizuoshanzixt {
  
          background-color: #fff;
          border-radius: 8px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
          padding: 20px;
      
          .tet {
            margin: 0;
            color: #333;
            line-height: 1.6;
            font-size: 1em;
      
            .chinese {
              font-style: italic;
              color:  #007BFF;
            }
          }
        }
      
        @media (max-width: 768px) {
          grid-template-columns: 1fr; // 在小屏幕上改为一列
          .pics {
            grid-template-columns: repeat(2, 1fr); // 两张图片一行
          }
        }
      }
      
    .picbox6 {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 20px;

      img {
        border-radius: 10px;
        margin-bottom: 20px;
        height: 300px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      }
    }

    .picbox7 {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 20px;

      img {
        border-radius: 10px;
        margin-bottom: 20px;
        height: 180px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      }
    }

    .pg6Ct {
      width: 1400px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .pic {
        margin-right: 20px;
        padding-top: 30px;

        img {
          width: 650px;
          // width 800px;
          &:hover {
            transform: translateY(0);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
          }
        }
      } 
    }
    .pg6Cttxt {
      margin: 0;
      text-align: justify;
      h3{
        font-size: 24px;
      }
      h4 {
        font-weight: 800;
        font-size: 18px;
      }
      p{
        width: 100%;
        text-align: justify;
       
      }
    }
    .pg8box {
      width: 1400px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      .pk {
        width: 630px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        img {
          width: 100px;
        }
      }

      .mj {
        width: 630px;

        img {
          width: 100%;
        }
      }

      .mj2 {
        width: 650px;
        height: 500px;

        img {
          width: 650px;
          height: 500px;
          object-fit: cover;

        }
      }
    }

  }
    h1 {
      margin: 0 0 20px;
      color: @text-color;
      font-family: @display-font;
    }

    img {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s, box-shadow 0.3s;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
    }

    .picbox {
      background-color: #f4f4f4; 
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 20px;
      box-sizing: border-box;
      .picboxInfo{
        background-color: #eee;
        width: 24%;
        border-radius: 10px;
        // display: flex;
        img {
          width: 100%;
          border-radius: 10px;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        }
        .txts{
    padding: 15px;
    color: #000;
          p{
font-family: @display-font;
font-size: 1.2em;
          }
        }
      }
    
    }
    .picbox0{
      display: flex;
      justify-content: space-between; 
      img{
        width: 24%;
      }
    }
.shufajieshao{
  background-color: #f4f4f4; 
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  .p6{
    line-height: 40px;
    font-weight: 800;
  }
  .p4,
  .p5{
    margin-bottom: 10px;
  }
}

    .picbox1 {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 20px;

      img {
        border-radius: 10px;
        margin-bottom: 20px;
        height: 370px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      }
    }

    .picbox2 {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 20px;

      img {
        border-radius: 10px;
        margin-bottom: 20px;
        height: 440px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      }
    }

    .picbox3 {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      // justify-content: space-between;
      margin-bottom: 20px;
      .dfs{
        margin-right: 20px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        img {
          width: 100%;
          border-radius: 10px; 
          height: 400px;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          // margin-right: 30px;
        }
        .uuu{
          padding: 20px;
          p{
            // max-width: 380px;
            font-family: @display-font;
          }
        }
       
      }
     

    }

    .picbox4 {
      width: 100%;
      display: flex;
      // flex-wrap: wrap;
      // justify-content: space-between;
      overflow-y: scroll;
      margin-bottom: 20px;

      img {
        border-radius: 10px;
        margin-bottom: 20px;
        height: 440px;
        margin-right: 30px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      }
    }

    .picbox5 {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 20px;

      img {
        border-radius: 10px;
        margin-bottom: 20px;
        height: 420px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      }
    }

    
}

.gp4 {

  @primary-color: #333;
  @secondary-color: #555;
  @text-color: #fff;
  @background-color: #f4f4f4;
  @transition-speed: 0.3s;
  a{
    font-weight: 900;
    // color: black;
    // text-decoration: none;
    &:hover { 
      text-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    }
  }
  .text {
    background-color: @background-color;
    color: @primary-color;
    font-family: 'Times New Roman', serif;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 40px auto;
    max-width: 100%;
    transition: transform @transition-speed, box-shadow @transition-speed;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    h3 {
      color: @secondary-color;
      font-size: 2em;
      font-weight: 400;
      margin: 0 0 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .p2 {
      color: @primary-color;
      font-size: 1em;
      line-height: 1.6;
      letter-spacing: 0.5px;
      margin: 0 0 20px;
    
      &::first-letter {
        font-size: 2em;
        float: left;
        margin-right: 4px;
        line-height: 1;
      }
    }
  }
}



// 底部区域样式
.footer {
  background-color: @footer-color;
  color: @secondary-color;
  padding: 20px 0;
text-align: center;

 
}